* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100vh;
}
.section-container {
  min-height: 100vh;
}
.div-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid red;
  height: 100vh;
}
.box-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid blue;
}
/* Styling Header */
.header {
  display: flex;
  width: 100%;
}
.pizza-header-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* gap: 70px; */
  width: 100%;
}
.num1 {
  display: flex;
  justify-content: center;
}
.pizza-ingredients-contaier img {
  width: 10%;
  text-align: center;
}
